@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-color: #36393f;
    padding: 0;
}
h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

table{
    padding: 0% 1%;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    color: #a8b9be;
    border-spacing: 0px 10px;
}

table tr td input[type=password], select,  table tr td input[type=text]{
    padding: 6px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

table tr{
    background-color: #202225;
    margin-top: 10px;
}



table tr td img{
    display: flex;
    width: 40px;
    padding-left: 10%;
}

table tr td i{
    color: red;
    transition: 0.1s;
    cursor: pointer;
}

table tr td i:hover{
    color: rgb(104, 0, 0);
}

.welcome{
    margin: 1%;
    padding: 0.1%;
    background-color: #202225;
    color: #a8b9be;
}

.sidenav {
    height: 100%; 
    width: 70px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 20px;
    text-align: center;
}

.sidenav a {
    padding: 6px 0px 6px 0px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a i{
    transition: 0.2s;
    cursor: pointer;
}
.sidenav a i:hover {
    color: #7289da; /* #f1f1f1 */
}

.main {
    margin-left: 70px;
    padding: 0px 10px;
}
  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
} 