@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.main .manage{
    height: 80vh;
    width: 80vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    padding: 5%;
}

.main .manage div img{
    height: 100px;
    transition: 0.2s;
    cursor: pointer;
    margin: 2%;
}
.main .manage div img:hover{
    opacity: 0.5;
}

.main .manage div label{
    font-family: 'Roboto', sans-serif;
    color: #7289da;
}    

.main .manage div input{
    background: none;
    border: none;
    transition: 0.3s;
    color: #929292;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #929292;
    font-size: 16px;
}   

.main .manage div input:focus {
    outline: none;
    color: #1EB584;
}

.main .manage #manage-show-password{
    color: #929292;
}

.main .manage div input[type=password], select,  .main .manage div input[type=text]{
    padding: 0px 0px;
    margin: 8px 0;
    border-bottom: 1px solid #929292;
    border-radius: 0px;
    box-sizing: border-box;
}

.main .manage .first-info{
    display: flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.main .manage .first-info h1{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none; ;
}    

.main .manage .first-info div{
    padding: 0% 0% 0% 5%;
    text-align: left;
}

.main .manage .first-info div h1{
    color: #929292;
}    

.main .manage .first-info div p{
    color: #7289da;
    cursor: pointer;
}

.main .manage .other-info{
    text-align: left;
    margin-top: 10%;
}

.main .manage .other-info table tr .aside{
    text-align: right;
}
.main .manage .other-info table tr .content{
    text-align: left;
}
.main .manage .other-info table tr .content .submit{
    margin-top: 10%;
    background-color: #7289da;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}    
.main .manage .other-info table tr .content .submit:hover{
    background-color: #50619e;
}

.main .manage .main-info .secondary-info{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
}

.main .manage .main-info .secondary-info p{
    text-align: right;
}    

.main .manage .other-info table .repeat-password{
    visibility: hidden; 
    opacity: 0; 
    transition: 0.3s;
}