@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-color: #36393f;
    padding: 0;
}

.main .homepage h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.main .homepage table{
    padding: 0% 1%;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    color: #a8b9be;
    border-spacing: 0px 10px;
}

.main .homepage table tr td input[type=password], select,  table tr td input[type=text]{
    padding: 6px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.main .homepage table tr{
    background-color: #202225;
    margin-top: 10px;
}



.main .homepage table tr td img{
    display: flex;
    width: 46px;
    height: 46px;
    border-radius: 3px;
}

.main .homepage table tr td .fa-trash{
    color: red;
    transition: 0.1s;
    cursor: pointer;
}

.main .homepage table tr td .fa-trash:hover{
    color: rgb(104, 0, 0);
}
.main .homepage table tr td #showPass{
    margin-left: 5px;
    color: #a8b9be;
    transition: 0.1s;
    cursor: pointer;
}

.main .homepage table tr td #showPass:hover{
    color: #7c888b;
}

.main .homepage .welcome{
    margin: 1%;
    padding: 0.1%;
    background-color: #202225;
    color: #a8b9be;
}

.main .homepage table tr td .icon i{
    display: flex;
    justify-content:center;
    align-items:center;
    color: #929292;
    width: 46px;
    height: 46px;
    font-size: 26px;
}