@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-color: #36393f;
    padding: 0;
}

h1{
    color: #929292;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 10%;
    font-size: 64px;
    transition: 0.2s;
}

h1 i{
    transition: 0.2s;
}

h1 i:hover{
    color: #7289da;
}

h1 img{
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    transition: 0.2s;
}

h1 img:hover{
    opacity: 0.5;
}

.main{
    height: 80vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
}

.main input{
    background: none;
    border: none;
    text-align: center;
    border-bottom: 1px solid #929292;
    transition: 0.3s;
    color: #929292;
    font-size: 16px;
}   

.main button{
    border: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    width: 55%;
    padding: 15px;
    background-color: #C4C4C4;
    border-radius: 5px;
    transition: 0.3s;
    margin-top: 15%;
    font-size: 16px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.main button:hover{
    background-color: #718ad6;
    color: #36393f;
}

.main input:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid #718ad6;
    color: #718ad6;
}

.main {
    margin-left: 70px;
    padding: 0px 10px;
}